# In this lecture We will Cover
     1.PySpark Dataframe
     2.Reading The Dataset
     3.Checking the Datatypes of the Column(Schema)
     4.Selecting Columns And Indexing
     5.Check Describe option similar to Pandas
     6.Adding Columns
     7.Dropping columns
     8.Renaming Columns

In [22]:
 from pyspark.sql import SparkSession

In [23]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [24]:
spark

In [28]:
## read the dataset
df_pyspark=spark.read.option('header','true').csv('indian movies.csv',inferSchema=True)

In [29]:
### Check the schema
df_pyspark.printSchema()

root
 |-- ID: string (nullable = true)
 |-- Movie Name: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Timing(min): string (nullable = true)
 |-- Rating(10): string (nullable = true)
 |-- Votes: string (nullable = true)
 |-- Genre: string (nullable = true)
 |-- Language: string (nullable = true)

In [30]:
df_pyspark=spark.read.csv('indian movies.csv',header=True,inferSchema=True)
df_pyspark.show()

+---------+--------------------+----------+-----------+----------+------+--------------------+--------+
|       ID|          Movie Name|      Year|Timing(min)|Rating(10)| Votes|               Genre|Language|
+---------+--------------------+----------+-----------+----------+------+--------------------+--------+
|tt0398974|         Dr. Shaitan|      1960|          -|         -|     -|                   -|   hindi|
|tt1702558|          Nadir Khan|      1968|          -|         -|     -|                   -|    urdu|
|tt0493437|Apna Sapna Money ...|      2006|    134 min|       5.3| 1,892|Comedy, Musical, ...|   hindi|
|tt0273405|      Aag Aur Sholay|      1987|          -|       2.2|    20|                   -|    urdu|
|tt0049595|             Parivar|      1956|          -|       7.4|    21|Comedy, Drama, Fa...|   hindi|
|tt2930026|Humraah: The Traitor|      2008|          -|         -|     -|Thriller            |   hindi|
|tt6597160|Jacqueline I Am C...|      2019|    112 min|       7.9|    16|   Drama            |   hindi|
|tt0829459|      A Mighty Heart|      2007|    108 min|       6.6|26,885|Biography, Drama,...|    urdu|
|tt0154875|       Midnight Mail|      1939|          -|         -|     -|  Action            |   hindi|
|tt0364628|          Raktalekha|      1992|    175 min|       6.3|    12|   Drama            | bengali|
|tt0364733|   Veedevadandi Babu|      1997|    138 min|       5.6|   218|  Comedy            |  telugu|
|tt8272296|   A Mayalu Timi Lai|2018 Video|          -|         -|     -|Short, Music     ...|  nepali|
|tt5684550|   Da Tang Xuan Zang|      2016|     90 min|       6.2|   379|Biography, Histor...|sanskrit|
|tt0250733|            Sikandar|      1976|          -|         -|     -|                   -|   hindi|
|tt1407272|         Pehla Qadam|      1958|          -|         -|     -|                   -|    urdu|
|tt0318983|Amman Koil Kizhak...|      1986|    141 min|       6.9|    63|   Drama            |   tamil|
|tt3148392|              Shatru|      2013|          -|       4.5|    11|Action, Thriller ...| kannada|
|tt7836398|Kamal Khatri Feat...|2017 Video|      5 min|         -|     -|Short, Music     ...|  nepali|
|tt0376353|   Zinda Jala Doonga|      1988|          -|         -|     -|  Action            |   hindi|
|tt2302945|             Tukaram|      2012|    156 min|       7.3|   231|Biography, Drama,...| marathi|
+---------+--------------------+----------+-----------+----------+------+--------------------+--------+
only showing top 20 rows

In [31]:
### Check the schema
df_pyspark.printSchema()

root
 |-- ID: string (nullable = true)
 |-- Movie Name: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Timing(min): string (nullable = true)
 |-- Rating(10): string (nullable = true)
 |-- Votes: string (nullable = true)
 |-- Genre: string (nullable = true)
 |-- Language: string (nullable = true)

In [40]:
# by default all the attributes see as string
df_pyspark=spark.read.csv('Book1.csv',header=True)
df_pyspark.show()

+-----+-----+
|month|spend|
+-----+-----+
|  jan|10000|
|  feb|10000|
|  mar|10000|
|  apr|10000|
|  may|10000|
|  jun|10000|
|  jul|10000|
|  aug|10000|
|  sep|10000|
|  oct|10000|
|  nov|10000|
|  dec|10000|
+-----+-----+

In [41]:
### Check the schema
df_pyspark.printSchema()

root
 |-- month: string (nullable = true)
 |-- spend: string (nullable = true)

In [42]:
# to solve this we use inferSchema=True
df_pyspark=spark.read.csv('Book1.csv',header=True,inferSchema=True)
df_pyspark.show()

+-----+-----+
|month|spend|
+-----+-----+
|  jan|10000|
|  feb|10000|
|  mar|10000|
|  apr|10000|
|  may|10000|
|  jun|10000|
|  jul|10000|
|  aug|10000|
|  sep|10000|
|  oct|10000|
|  nov|10000|
|  dec|10000|
+-----+-----+

In [43]:
### Check the schema
df_pyspark.printSchema()

root
 |-- month: string (nullable = true)
 |-- spend: integer (nullable = true)

In [49]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [50]:
df_pyspark.head(3)

[Row(month='jan', spend=10000),
 Row(month='feb', spend=10000),
 Row(month='mar', spend=10000)]

In [51]:
df_pyspark.show()

+-----+-----+
|month|spend|
+-----+-----+
|  jan|10000|
|  feb|10000|
|  mar|10000|
|  apr|10000|
|  may|10000|
|  jun|10000|
|  jul|10000|
|  aug|10000|
|  sep|10000|
|  oct|10000|
|  nov|10000|
|  dec|10000|
+-----+-----+

In [52]:
df_pyspark.select(['month']).show()

+-----+
|month|
+-----+
|  jan|
|  feb|
|  mar|
|  apr|
|  may|
|  jun|
|  jul|
|  aug|
|  sep|
|  oct|
|  nov|
|  dec|
+-----+

In [53]:
df_pyspark['month']

Column<'month'>

In [54]:
df_pyspark.dtypes

[('month', 'string'), ('spend', 'int')]

In [55]:
df_pyspark.describe().show()

+-------+-----+-------+
|summary|month|  spend|
+-------+-----+-------+
|  count|   12|     12|
|   mean| null|10000.0|
| stddev| null|    0.0|
|    min|  apr|  10000|
|    max|  sep|  10000|
+-------+-----+-------+

In [57]:
### Adding Columns in data frame
df_pyspark=df_pyspark.withColumn('Experience After 2 year',df_pyspark['spend']+2)

In [58]:
df_pyspark.show()

+-----+-----+-----------------------+
|month|spend|Experience After 2 year|
+-----+-----+-----------------------+
|  jan|10000|                  10002|
|  feb|10000|                  10002|
|  mar|10000|                  10002|
|  apr|10000|                  10002|
|  may|10000|                  10002|
|  jun|10000|                  10002|
|  jul|10000|                  10002|
|  aug|10000|                  10002|
|  sep|10000|                  10002|
|  oct|10000|                  10002|
|  nov|10000|                  10002|
|  dec|10000|                  10002|
+-----+-----+-----------------------+

In [59]:
### Drop the columns
df_pyspark=df_pyspark.drop('Experience After 2 year')

In [60]:
df_pyspark.show()

+-----+-----+
|month|spend|
+-----+-----+
|  jan|10000|
|  feb|10000|
|  mar|10000|
|  apr|10000|
|  may|10000|
|  jun|10000|
|  jul|10000|
|  aug|10000|
|  sep|10000|
|  oct|10000|
|  nov|10000|
|  dec|10000|
+-----+-----+

In [61]:
### Rename the columns
df_pyspark.withColumnRenamed('month','Month').show()

+-----+-----+
|Month|spend|
+-----+-----+
|  jan|10000|
|  feb|10000|
|  mar|10000|
|  apr|10000|
|  may|10000|
|  jun|10000|
|  jul|10000|
|  aug|10000|
|  sep|10000|
|  oct|10000|
|  nov|10000|
|  dec|10000|
+-----+-----+

In [62]:
### find columns
df_pyspark.columns

['month', 'spend']